#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chat-container {
  width: 300px; 
  max-height: 400px; 
  height: 400px;
  position: fixed;
  right: 110px;
  bottom: 85px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow:hidden;
 
  
  
}

.chat-messages {

  padding: 10px;
  overflow-y:auto;
  display:flex; 
  flex-direction: column;
  justify-content: start;
  max-height: 400px; 
  height: 100%; 

}


.chat-message {
  background-color: #e5e5ea;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  
}

.user-message {
  align-self: flex-end;
  background-color: #4e0e0e;
  color: #fff;
  
}

.bot-message {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  background-color: #684848;
  color: #fff;
  

}

.chat-input {
  display: flex;
  align-items: center;
  padding: 9px;
  border-radius: 3px;
  background-color: #794c4c;
  
}
::placeholder{
  font-size: 10px;
}
input{
  height: 25px;
  width:250px;
  border-radius: 10px;
}
input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  
  
}

button {
  color: #130707;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 20px;
  padding: 80px 80px;
  margin-left: 25px;
  cursor: pointer;
}
.send-button{
  font-size: 85%;
}
button:hover {
  background-color: #d39999;
  
}
.chat-header{
  background-color:#472525 ;
  color: #ffffff;
  font-size: 20px;
  padding: 8px;
  border-radius: 7px;
  text-align: left;
}
.hidden {
  display: none;

}
.ButtonToggle{
  color: #ffffff;
  background-color: #472525 ;
  position: fixed;
  right: 50px;
  bottom: 25px;
  height: 50px;
}

.disable-focus{
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .7;
  display: flex;
  justify-items: center;
  align-items: center;
  top:0;
  left:0;
  pointer-events: none;
}

